  /* Footer.module.css */
  .footer {
    background-color: #2b1818;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
  
  .footer p {
    margin: 0;
  }